/*
main css file 
for portfolio site
*/


body{
	background-color: #ffeb99;
	font-family: arial, hevetica,sans-serif;
	color: #0d1f2d;
	max-width: 900px;
	margin: 0 auto;
}

header{
	background-color:#e6b800;
	color: #fef9ff;
}

h1{
	font-size: 2.5em;
}
/*
nav{
	border-top: 3px dashed #665200;
	border-bottom: 3px dashed #665200;
}
*/
footer{
	background-color:#e6b800;
	color: #fef9ff;
}

nav .btn{
	background-color:#996300;
	color: #ffffff;
}

.jumbotron{
	background-color:#e6b800;
}

.icon{
	width: 18px;
	height: 18px;
}

.carousel-item{
	color: #0d1f2d;
}

.submitalButton{
	background-color:#996300;
	color: #ffffff;
}