			body{
				background-color: lightblue;
			}
			
			header, footer{
				background-color: red;
				color:white;
			}
			
			.border{
				border: thick solid blue;
			}
			
			#experiences{
				border: thick dashed orange;
			}